.vi-posts {
  &__wrapper {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
    padding-top: 15px;

    @media screen and (max-width: $BREAKPOINT-SM) {
      display: block !important;
    }
  }
}

.vi-post {
  &__wrapper {
    position: relative;

    li {
      margin-left: 30px;
    }
  }
  &__card-title {
    margin-top: 0;
    font-weight: bold;
  }
  &__image {
    a {
      height: 180px;
      display: block;
    }
  }
  &__featured {
    &-image {
      grid-column-start: 1;
      grid-column-end: 3;
      position: relative;
      overflow: hidden;
      margin-bottom: 50px;

      a {
        position: absolute;
        transition: all .5s;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &:hover a {
        transform: scale(1.1);
      }

      @media screen and (max-width: $BREAKPOINT-SM) {
        margin-top: 10px;
        min-height: 300px;
        margin-bottom: 20px;
      }
    }
    &-text {
      grid-column-start: 3;
      grid-column-end: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;

      h4 {
        font-weight: normal;
      }

      @media screen and (max-width: $BREAKPOINT-SM) {
        padding-bottom: 0;
      }
    }
  }
  &__tag {
    font-family: $header-font-family;
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    padding: 4px 8px;
    background-color: $WATERLOO-LIGHTEST;
  }
  &__tags {
    margin: 20px 0;
  }
  &__links {
    p {
      margin-top: 10px;
    }
  }
  &__nav {
    position: fixed;
    height: 160px;
    background-color: $WHITE;
    top: -100px;
    padding-top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 2px solid $PUERTO-RICO;

    a {
      line-height: 60px;
      font-family: $header-font-family;
      color: $PUERTO-RICO;
    }
  }
  &__banner {
    padding-top: 60px;
    width: 100%;
    min-height: 400px;
    position: relative;
    margin-bottom: 80px;
  }
  &__annotation-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    display: block;
    bottom: -35px;

    >small {
      font-size: 14px;
      font-family: $text-font-family;
      color: $WATERLOO;
    }
  }
}
