.vi-posts {
  &__wrapper {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 2%;
    grid-row-gap: 80px;
    padding-top: 35px;
  }
}

.vi-post {
  // grid-column: span 2;

  &__date {
    position: relative;
    top: -35px;
  }
  &__featured {
    &-image {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &-text {
      grid-column-start: 3;
      grid-column-end: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__links {
    p {
      margin-top: 10px;
    }
  }
}
