// Base styles
section {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  margin: 20px 0 5px 0;
  font-weight: 300;
}

h1,
h2 {
  font-size: 48px;
  letter-spacing: 1.54px;
}

h1 {
  font-size: 64px;
}

@media screen and (max-width: $BREAKPOINT-SM) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 40px;
  }
}

p,
li,
a,
span {
  font-family: $text-font-family;
  font-size: 18px;
  letter-spacing: 0.58px;
  margin-bottom: 4px;
}

p,
li,
span {
  color: $WATERLOO-LIGHT;
}

img {
  max-width: 100%;
}

.vi-container {
  max-width: 1000px;

  &__post {
    max-width: 800px;
    padding-bottom: 40px;

    p,
    ul,
    ol {
      margin-bottom: 15px;
      color: $WATERLOO;
    }
  }
}

.vi-links {
  @media screen and (max-width: $BREAKPOINT-SM) {
    list-style-type: none;
  }
}
