// @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:300,400');

$header-font-family: Montserrat, Helvetica, sans-serif;
$text-font-family: 'Crimson Text', Times, serif;

$BLACK: #000000;
$INDIGO: #515DC8;
$WATERLOO: #777A93;
$WATERLOO-LIGHT: lighten($WATERLOO, 10);
$PUERTO-RICO: #51C8B4;
